

.page__body{
  background: #57B1FF;
  color: #fff;
  position: relative;




}

.site-container{
  max-width: 442px;
    width: 100%;
  min-height: 629px;
  margin: 0 auto;
  position: relative;


}
header{
  padding-top: 15px;
  position: relative;
}

.header-decorative{


  &::before, &::after{
    content: "";
    position: absolute;
    top: 16px;
    width: 100px;
    height: 100px;
    @media (min-width: (550px)) {
      //display: none;
    }
  }
  &::before{
    background-image: url(../img/bg2-1.webp);
    background-size: cover;
    left: 0;
    transform: translateY(-32px) scale(1.125);
  }
  &::after{
    background-image: url(../img/bg1-1.webp);
    background-size: cover;
    right: 0;
    transform: translateY(-73px);
    height: 150px;
  }
}

.header-logo{
  width: 108px;
  height: 32px;
  background-image: url(../img/logo-bg.webp);
  background-size: cover;
  display: block;
  margin: 0 auto;
  margin-bottom: 29px;
}
h2{
  font-weight: 900;
  line-height: 1.15;
  font-size: 26px;
  letter-spacing: .03em;
}
p{
  font-weight: 500;
}


.waitingfor, .surprise,
.findout, .add{
  text-align: center;
  margin-bottom: 50px;
  h2{
    margin-bottom: 10px;
  }

}


.surprise{

  .surprise-img{
    border-radius: 20px;
    background: #fff;
    padding: 18px;
    display: inline-block;
  }


  p{
    margin-bottom: 25px;
  }
}

.findout{
  position: relative;
  margin-bottom: 50px;
  p{
    position: relative;
    margin-bottom: 59px;
  }
  .btn{
    position: relative;
  }
}

.videoGift-wrapper{
  position: relative;
  width: 224.17px;
  height: 224.17px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.videoGift{
  width: 224.17px;
  height: 224.17px;
  border-radius: 64.0476px;

}
.videoGiftImg{
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(60%, -52%);
}

.b2, .b3{
  position: absolute;
  left: 0;
}
.b2{
  top: 25px;
}
.b3{
  top: 300px;
}
.b1{
  position: absolute;
  bottom: 15px;
  right: 0;
}
.btn{
  width: 267px;
  height: 56px;
  padding: 0px 16px;
  background: #0075FF;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0 auto;
}

.add{
  text-align: center;
  margin-bottom: 57px;

  .add-card{
    width: 327px;
    border: 3px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 16px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 10px;
    img{
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }


}

footer{
  padding: 20px 0 63px;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../img/footer-bg.png);
    background-size: cover;
    width: 100%;
    height: 50px;
  }
  .footer-container{
    width: 327px;
    margin: 0 auto;
  }
  .header-logo{
    margin-left: 0;
  }
}

.panel-ball{
  width: 150px;
  height: 27px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.25);


  div{
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #B6DDFF;
    box-shadow: inset 3px 3px 3px rgba(224, 242, 255, 0.6), inset -3px -3px 3px rgba(0, 135, 252, 0.25);
    display: flex;
    border-radius: 8px;
    width: 0;
    span{
      width: 32px;
      height: 27px;
      display: block;
      margin: 0 2px;
      &:nth-child(1){
        background-image: url(../img/icon-ball1.png);
      }
      &:nth-child(2){

        background-image: url(../img/icon-ball2.png);
      }
      &:nth-child(3){

        background-image: url(../img/icon-ball3.png);
      }
      &:nth-child(4){
        background-image: url(../img/icon-ball4.png);

      }
      &:nth-child(5){
        background-image: url(../img/icon-ball5.png);

      }
    }
  }
  &.ball5{
    div{
      width: 150px;
    }
  }
  &.ball4{
    div{
      width: 128px;
      span:nth-child(5){
        display: none;

      }
    }
  }
  &.ball3{
    div{
      width: 98px;
      span:nth-child(4),
      span:nth-child(5){
        display: none;
      }
    }
  }
  &.ball2{
    div{
      width: 65px;
      span:nth-child(3),
      span:nth-child(4),
      span:nth-child(5){
        display: none;
      }
    }
  }
  &.ball1{
    div{
      width: 32px;
      span:nth-child(2),
      span:nth-child(3),
      span:nth-child(4),
      span:nth-child(5){
        display: none;
      }
    }

  }

}

.header-flex{
  display: flex;
  position: relative;
  z-index: 1;
  padding-left: 24px;
  padding-right: 24px;

  .header-logo{
    margin-right: 0;
  }
}
