
    <footer>
        <div class="footer-container">
          <div class="header-logo"></div>

          <p><a href="file/privacy_policy_final_26.08.pdf" target="_blank">Политика конфиденциальности</a></p>
          <p><a href="file/subscription_user_agreement_final26.08.pdf" target="_blank">Пользовательское соглашение</a>

          </p>
          <p class="footer-right__item-caption" >
            Для обратной связи <a href="mailto:support@x5paketquest.ru" target="_blank">support@x5paketquest.ru</a>
          </p>
    <br>
          <p>© 2022–2023 <br>
            ООО «Корпоративный центр ИКС 5»</p>



        </div>

    </footer>
