<style>


.container_img {
  margin: 0 auto;
  width: 295px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.card_img {
  width: 91px;
  height: 125px;
  margin-bottom: 11px;
  position: relative;
  perspective: 1000px;
}
.front, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: .7s;
  backface-visibility: hidden;
}

.card_img .front {
  background-image: url(img/card_front.png);
  background-size: cover;
}
.card_img .back{
  transform: rotateY(180deg);
  background-size: cover;
}
.card_img.active .front{
  transform: rotateY(180deg);
}
.card_img.active .back{
  transform: rotateY(360deg);
}
.container_img .card_img:nth-child(1) .back, .container_img .card_img:nth-child(6) .back{
  background-image: url(img/Card1-6.png);
}
.container_img .card_img:nth-child(2) .back, .container_img .card_img:nth-child(5) .back{
  background-image: url(img/Card2-5.png);
}
.container_img .card_img:nth-child(3) .back, .container_img .card_img:nth-child(4) .back{
  background-image: url(img/Card3-4.png);
}


.banner4 {
  display: none;
  color: black;
  width: 100px;
  height: 100px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 295px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

.banner4.active {
  display: flex;
}

</style>

<div style="text-align: center;">
  <h2>Найди пару <br>
    к каждой из <br>
    карточек </p>
</div>
<br>

<div class="container_img">
  <div class="card_img" data-num="1-6">
    <div class="front"></div>
    <div class="back"></div>
  </div>
  <div class="card_img"  data-num="2-5">
    <div class="front"></div>
    <div class="back"></div>
  </div>
  <div class="card_img" data-num="3-4">
    <div class="front"></div>
    <div class="back"></div>
  </div>
  <div class="card_img" data-num="3-4">
    <div class="front"></div>
    <div class="back"></div>
  </div>
  <div class="card_img"  data-num="2-5">
    <div class="front"></div>
    <div class="back"></div>
  </div>
  <div class="card_img" data-num="1-6">
    <div class="front"></div>
    <div class="back"></div>
  </div>

  <div class="banner4">Game Over</div>
</div>



<script>

let card = document.querySelectorAll('.card_img');
let flag;

card.forEach(elem => {
  elem.addEventListener('click', funcFlip);
});

function funcFlip() {
  this.classList.add('active');
  let elem = this;
  if (!flag) {
    flag = this.getAttribute('data-num');
    return false;
  }
  if (flag !== this.getAttribute('data-num')) {

    setTimeout(function () {
      elem.classList.remove('active');
    }, 500);
  }
  else {
    flag = undefined;
    cardEnd();
  }

}

function cardEnd() {
  if (card[0].classList.contains('active') &&
    card[1].classList.contains('active') &&
    card[2].classList.contains('active') &&
    card[3].classList.contains('active')) {

    //let banner = document.querySelector('.banner4');
    //banner.classList.add('active');

    document.querySelector(".btn-game-1").click();
  }
}

</script>
