<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#407afa">

  <!-- Primary Meta Tags -->
<title>Интерактивный квест на льду от сервиса «Пакет от Х5»</title>
<meta name="title" content="Интерактивный квест на льду от сервиса «Пакет от Х5»">
<meta name="description" content="Весело проводите время на квесте
с сервисом «Пакет от Х5»
и выигрывайте призы.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="/">
<meta property="og:title" content="Интерактивный квест на льду от сервиса «Пакет от Х5»">
<meta property="og:description" content="Весело проводите время на квесте
с сервисом «Пакет от Х5»
и выигрывайте призы.">
<meta property="og:image" content="img/image.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="/">
<meta property="twitter:title" content="Интерактивный квест на льду от сервиса «Пакет от Х5»">
<meta property="twitter:description" content="Весело проводите время на квесте
с сервисом «Пакет от Х5»
и выигрывайте призы.">
<meta property="twitter:image" content="img/image.png">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<link
rel="stylesheet"
href="lib/animate.min.css"
/>

  <link rel="stylesheet" href="css/vendor.css?rttttrttrfddfddd">
  <link rel="stylesheet" href="css/main.css?rttttrttrfddfddd">

  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

  <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();
  for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
  k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(91603527, "init", {
       clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true,
       webvisor:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/91603527" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</head>
