<div class="seats-10-00"></div>

<header class="header header-decorative">

  <a class="header-logo" href="/"></a>

</header>

<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"
integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>





<div class="surprise">

  <h2>А вот <br>
    и сюрприз!</h2>
  <p>Предъявите этот QR-код сотруднику <br>
  на точке выдачи подарков<br>
  в кафе Пятёрочка и Пакет</p>

  <div class="surprise-img">
    <img class="imgelem_code" id="imgElem" src="img/qr-code.png" alt="">
  </div>

  <!--<div class="surprise-img">
    <img class="" style="width: 193px;
    height: 189px;" src="img/qr-code.png" alt="">
  </div>-->


</div>

<script>



</script>


<div class="waitingfor">
  <h2>Ждём тебя здесь
    </h2>
  <p>Выйди с территории катка  и найди<br> Кафе "Пятерочка и Пакет" напротив <br> павильона Казахстан</p>


  <!--<img class="menu2-img" style="margin-bottom: 0;" src="img/map.png" alt="">-->
  <img class="menu2-img menu2-imgnew"  src="img/map-finish.png" alt="">

</div>

<div class="findout">
  <img src="img/bg2.png" alt="" class="b2">
  <img src="img/bg3.png" alt="" class="b3">
  <img src="img/bg1.png" alt="" class="b1">

  <h2>Узнай, как <br> пользоваться <br>
    сервисом<br>
    Пакет от Х5</h2>
    <p>Чтобы получать много кешбэка в наших <br> магазинах и бонусы от партнёров</p>

    <div class="videoGift-wrapper">
      <img class="videoGift" loading="lazy" src="image/girlDance.gif">
      <img class="videoGiftImg" src="img/hearts.png">
    </div>

    <a target="_blank" href="https://promo.x5paket.ru/?utm_source=offline_btl&utm_medium=marketing&utm_campaign=x5_vdnh-katok-quest_katok_brand&utm_content=vdnh-katok_quest_full-price" class="btn">Уже бегу!</a>

  </div>

  <div class="add">

    <div class="add-card">
      <img src="img/card.png" alt="">
      <h2>Добавь <br> волшебства</h2>
      <p>Узнай, чем можно себя <br> побаловать</p>
      <a target="_blank" href="https://eda.x5paket.ru/?utm_source=offline_btl&utm_medium=marketing&utm_campaign=x5_vdnh-katok-quest_katok_brand&utm_content=vdnh-katok_quest_full-price" class="btn">Ещё волшебства!</a>
    </div>

  </div>

