<header class="header">

  <a class="header-logo" href="#"></a>


  <div class="surprise">

    <h2>А вот <br>
      и сюрприз!</h2>
      <p>Предъявите этот QR-код сотруднику <br>
        на точке выдачи подарков<br>
        в кафе Пятёрочка и Пакет</p>

        <img src="img/qr-code.png" alt="">

  </div>


  <div class="waitingfor">
    <h2>Ждём тебя здесь
      </h2>
    <p>Напрвляйся в кафе, отмеченное <br> флажком на карте</p>

    <img src="img/map.png" alt="">
  </div>

  <div class="findout">
    <img src="img/bg2.png" alt="" class="b2">
    <img src="img/bg3.png" alt="" class="b3">
    <img src="img/bg1.png" alt="" class="b1">

    <h2>Узнай, как <br> пользоваться <br>
      сервисом<br>
      Пакет от Х5</h2>
      <p>Чтобы получать много кешбэка в наших <br> магазинах и бонусы от партнёров</p>
  
      <div class="videoGift-wrapper">
        <img class="videoGift" loading="lazy" src="image/girlDance.gif">
        <img class="videoGiftImg" src="img/hearts.png">
      </div>
      
      <div class="btn">Уже бегу!</div>

    </div>

    <div class="add">

      <div class="add-card">
        <img src="img/card.png" alt="">
        <h2>Добавь <br> волшебства</h2>
        <p>Узнай, чем можно себя <br> побаловать</p>
        <div class="btn">Ещё волшебства!</div>
      </div>

    </div>



</header>
