<header class="header">

  <a class="header-logo" href="#"></a>


  <div class="surprise">

    <h2>А вот <br>
      и сюрприз!</h2>
      <p>Предъявите этот QR-код сотруднику <br>
        на точке выдачи подарков<br>
        в кафе Пятёрочка и Пакет</p>

        <img src="img/qr-code.png" alt="">

  </div>


  <div class="waitingfor">
    <h2>Ждём тебя здесь
      </h2>
    <p>Напрвляйся в кафе, отмеченное <br> флажком на карте</p>

    <img src="img/map.png" alt="">
  </div>

  <div class="findout"></div>


</header>
