<div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content modal-content1">

      <img class="modal-cart1" src="img/modal-cart5.png" alt="">

      <h2>Почти у цели!
        </h2>
      <p>Кешбэк 20% на выпечку в Пятёрочке и Перекрёстке активирован. Последний шаг и подарки твои.</p>

      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><img src="img/svg/icon-btn.svg" alt=""> Получить подарки</button>

    </div>
  </div>
</div>
<div class="modal-backdrop fade show"></div>
