<div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content modal-content1">

      <img class="modal-cart1" src="img/modal-cart2.png" alt="">

      <h2>Вау!
        </h2>
      <p>Ты на шаг ближе к призу. Активирована опция кешбэка 50% на твои любимые горячие напитки. Поехали дальше!</p>

      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><img src="img/svg/icon-btn.svg" alt=""> Следующее задание</button>

    </div>
  </div>
</div>
<div class="modal-backdrop fade show"></div>
