<div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content modal-content1">

      <img class="modal-cart1" src="img/modal-cart3.png" alt="">

      <h2>Поздравляем!
        </h2>
      <p>Активированы 6 бесплатных доставок из любимых магазинов. Ты уже на середине пути!</p>

      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><img src="img/icon-btn.png" alt=""> Следующее задание</button>

    </div>
  </div>
</div>
<div class="modal-backdrop fade show"></div>
