<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-content1">

      <img class="modal-cart1" src="img/modal-cart1.png" alt="">

      <h2>Отличное <br> начало
      </h2>
      <p>Теперь опция кешбэка 5% в Пятёрочке и Перекрёстке активирована</p>

      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><img src="img/icon-btn.png" alt="">
        Следующее задание</button>

    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
