<div class="section1">
  <div class="section1-bg"></div>
  <header class="header ">


    <a class="header-logo" href="#"></a>


  </header>

  <h1>Играй <br>
    и получай <br>
    призы</h1>
    <div class="logo2"></div>

    <div class="btn-title">
      <img class="icons1" src="img/icons1.png" alt="">
      <div>Двигайся по локациям на катке, мы подскажем, <br> куда идти</div>
    </div>
    <div class="btn-title bottom-1"><img class="icons2" src="img/icons2.png" alt="">
      <div>Выполни 5 заданий и получи гарантированный приз</div>
    </div>

    <a href="1.html" class="btn"><img src="img/icon-btn.png" alt="">Вперёд к приключениям!</a>


    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        <a href="finish.html">Принимаю условия акции</a>
      </label>
    </div>

</div>
