<div class="section1">
  <div class="section1-bg"></div>

  <div class="vetka1"></div>

  <div class="vetka3"></div>

  <header class="header ">


    <a class="header-logo" href="#"></a>


  </header>

  <h1>Играй <br>
   <span style="margin-top: 4px; font-size: 17px; line-height: 1.2; display: block;">Получай бесплатно <br> кофе,  выпечку <br>и подарки</span> </h1>

    <div class="novie-elementi-wrapper">
      <div class="vetka2"></div>
      <div class="vetka4"></div>
      <div class="novie-elementi">
        <div class="logo2">
          <a href="#"></a>
        </div>
      </div>

      <div class="btn-title  btn-title-anim1">
        <img class="icons1" src="img/icons1.png" alt="">
        <div>Двигайся по локациям на катке, мы подскажем, <br> куда идти</div>
      </div>
      <div class="btn-title bottom-1 btn-title-anim2"><img class="icons2" src="img/icons2.png" alt="">
        <div>Выполни 5 заданий и получи гарантированный приз</div>
      </div>

      <!--<a href="1.html" class="btn"><img src="img/svg/icon-btn.svg" alt="">Вперёд к приключениям!</a>-->
      <div class="btn btn_title_botton3"><img src="img/svg/icon-btn.svg" alt="">Вперёд к приключениям!</div>


      <div class="form-check btn_title_botton4">
        <input class="form-check-input" type="checkbox" value="" checked id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Принимаю <a target="_blank" href="file/subscription_user_agreement_final26.08.pdf">условия акции</a>
        </label>
      </div>

    </div>



</div>
